@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*Fonte do google fontes*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype'); /*Fonte baixada*/
    font-weight: normal;
}

:root { /*Usa-se esta pseudo classe fara facilitar o uso de elementos no código*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive; 
}

* { /*Usa-se o * para selecionar todos os seletores do código*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after { /*pseudo classe*/
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /*degradê*/
    min-height: 150px; /*altura*/
    text-align: center; /*centralizar*/
    padding-top: 40px; /*margem superior*/
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em; /*conf da letra*/
    font-weight: normal;
    margin-bottom: 20px; /*margem de baixo*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px; /*responsi da letra*/
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a { /*sem o mouse em cima*/
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; /*tirar o sublinhado*/
    font-weight: bold; /*letra mais cheia*/
    transition-duration: 0.5s;
}

nav > a:hover { /*mudança de cor com o mouse em cima- pseudo class*/
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px; /*largura mínima - Responsividade*/
    max-width: 1000px; /*Largura maxima*/
    margin: auto; /*Em telas grandes, auto pra ficar no meio*/
    margin-bottom: 30px;
    padding: 20px; /*dentro da caixa*/
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px; /*espaço*/
}

main p {
    margin: 15px 0px; /*cima, direira, baixo, esquerda, aqui para os paragrafos*/
    text-align: justify; /*texto justificado*/
    text-indent: 30px; /*recuo do paragrafo*/
    font-size: 1em;
    line-height: 2em; /*espaço entre as linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    /*background-color: var(--cor1);
    padding: 2px 6px;*/
}

main a { /*o link sozinho*/
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover { /*passar o mouse nos links*/
    text-decoration: underline;
    color: var(--cor4);
}

main img { /*Responsividade nas imagens do main*/
    width: 100%;
}

main img.pequena {
    max-width: 350px; /*vai até este tamanho*/
    display: block; /*usa-se pq é imagem*/
    margin: auto; /*centralizar*/
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px; 
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*simbolo de ok, 00A0 é o espaço - usando o emojipedia*/
    list-style-position: inside; /*bolinha dentro da caixa*/
    columns: 2; /*duas colunas*/
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}